{% comment %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Project List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% include "./navbar.html" %}
  <h1>Project List</h1>
  <ul>
    {% for project in projects %}
    <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>

{% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project List</title>
  <style>
    /* Style for layout */
    .container {
      display: flex;
    }

    .project-list {
      flex: 1;
    }

    .task-list {
      flex: 1;
    }

    /* Style for hiding/showing tasks */
    .task-list ul {
      display: none;
    }

    .task-list ul.active {
      display: block;
    }
  </style>
</head>

<body>
  {% include "./navbar.html" %}
  <div class="container">
    <div class="project-list">
      <h1>Projects</h1>
      {% for project in projects %}
      <h2 onclick="toggleTasks({{ project.id }})">{{ project.name }}</h2>
      {% endfor %}
    </div>
    <div class="task-list">
      <h1>Tasks</h1>
      {% for project in projects %}
      <ul id="tasks_{{ project.id }}" class="tasks">
        {% for task in project.tasks.all %}
        <li>
          {{ task.name }}
          {% if task.status != 'Done' and task.assigned_to.user == request.user %}
          <form method="post" action="{% url 'mark_task_done' task_id=task.id %}">
            {% csrf_token %}
            <input type="checkbox" name="task_done" onchange="this.form.submit()">
          </form>
          {% endif %}
        </li>
        {% endfor %}
        <form method="post" action="{% url 'add_task' project_id=project.id %}">
          {% csrf_token %}
          <!-- <input type="text" name="name" placeholder="Task Name" required> -->
          <!-- Add other task fields as needed -->
          <button type="submit">Add Task</button>
        </form>
      </ul>
      {% endfor %}
    </div>
  </div>

  <script>
    function toggleTasks(projectId) {
      var allTaskLists = document.querySelectorAll(".task-list ul");
      allTaskLists.forEach(function (taskList) {
        taskList.classList.remove("active");
      });

      var tasks = document.getElementById('tasks_' + projectId);
      tasks.classList.add("active");
    }
    document.addEventListener('DOMContentLoaded', function() {
      var firstTaskList = document.querySelector('.task-list ul');
      if (firstTaskList) {
        firstTaskList.classList.add('active');
      }
    });
  </script>

</body>

</html>




